<svg @click="onClick">
  <foreignObject x="0" y="40%" width="100%" height="200">
    <p class="tip">
      Kliknij na płótno, aby narysować okrąg. Kliknij na okrąg, aby go zaznaczyć.
      Kliknij prawym przyciskiem myszy na płótno, aby dostosować promień zaznaczonego okręgu.
    </p>
  </foreignObject>
  <circle
    v-for="circle in circles"
    :cx="circle.cx"
    :cy="circle.cy"
    :r="circle.r"
    :fill="circle === selected ? '#ccc' : '#fff'"
    @click="selected = circle"
    @contextmenu.prevent="adjust(circle)"
  ></circle>
</svg>

<div class="controls">
  <button @click="undo" :disabled="index <= 0">Cofnij</button>
  <button @click="redo" :disabled="index >= history.length - 1">Powtórz</button>
</div>

<div class="dialog" v-if="adjusting" @click.stop>
  <p>Dostosuj promień okręgu w punkcie ({{ selected.cx }}, {{ selected.cy }})</p>
  <input type="range" v-model="selected.r" min="1" max="300">
</div>
