<h2>Text Input</h2>
<input v-model="text"> {{ text }}

<h2>Checkbox</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Selezionato: {{ checked }}</label>

<!--
  Più caselle di controllo possono essere associate allo
  stesso valore dall'array tramite il binding v-model
-->
<h2>Checkbox multiplo</h2>
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<p>Nomi selezionati: <pre>{{ checkedNames }}</pre></p>

<h2>Radio</h2>
<input type="radio" id="one" value="One" v-model="picked">
<label for="one">Uno</label>
<br>
<input type="radio" id="two" value="Two" v-model="picked">
<label for="two">Due</label>
<br>
<span>Attivo: {{ picked }}</span>

<h2>Select</h2>
<select v-model="selected">
  <option disabled value="">Selezionane uno</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selezionato: {{ selected }}</span>

<h2>Multi Select</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selezionato: {{ multiSelected }}</span>
