<h2>Pole tekstowe</h2>
<input v-model="text">
<p>{{ text }}</p>

<h2>Checkbox</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Zaznaczone: {{ checked }}</label>

<!--
  wiele checkboxów może być powiązanych
  z tą samą tablicą jako wartość v-model
-->
<h2>Multi Checkbox</h2>
<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<p>Zaznaczone imiona: {{ checkedNames }}</p>

<h2>Radio</h2>
<input type="radio" id="one" value="Jeden" v-model="picked">
<label for="one">Jeden</label>
<br>
<input type="radio" id="two" value="Dwa" v-model="picked">
<label for="two">Dwa</label>
<p>Wybrano: {{ picked }}</p>

<h2>Select</h2>
<select v-model="selected">
  <option disabled value="">Proszę wybrać jedną opcję</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Wybrano: {{ selected }}</p>

<h2>Multi Select</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Wybrano: {{ multiSelected }}</p>
