<li>
  <div :class="{ bold: isFolder }" @click="toggle" @dblclick="changeType">
    {{ model.name }}
    <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
  </div>
  <ul v-show="isOpen" v-if="isFolder">
    <!--
      Un componente puede renderizarse a sí mismo
      recursivamente usando su opción "name"
      (deducido del nombre del archivo si usas SFC)
    -->
    <TreeItem class="item" v-for="model in model.children" :model="model">
    </TreeItem>
    <li class="add" @click="addChild">+</li>
  </ul>
</li>
