$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem 2rem
  @media (max-width: $MQMobileNarrow)
    padding 2rem 1.5rem

  html.with-beta-banner &
    padding-top calc(2rem + 3rem)

