$wrapper
  max-width $contentWidth
  margin 0 auto
  padding calc(2rem + 3rem) 2.5rem // added $betaBannerHeight
  @media (max-width: $MQNarrow)
    padding calc(2rem + 3rem) 2rem // added $betaBannerHeight
  @media (max-width: $MQMobileNarrow)
    padding calc(2rem + 3rem) 1.5rem // added $betaBannerHeight

