@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vazirmatn:wght@400;500&display=swap');

/* RTL & Persian Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  direction: rtl;
}

:root {
  --vt-font-family-base: 'Vazirmatn', sans-serif !important;
  --vp-font-family-mono: 'Vazirmatn', sans-serif !important;
}

.license {
  direction: ltr;
}

.vt-link-icon {
  margin-left: 0;
  margin-right: 4px;
}
