:root {
  --twoslash-border-color: var(--vt-c-divider);
  --twoslash-unmatched-color: var(--vt-c-text-2);
}

.twoslash-floating .twoslash-popup-container {
  font-family: var(--vt-font-family-mono);
  line-height: var(--vt-doc-code-line-height);
  font-size: 14px;
  color: white;
}

.twoslash-floating .twoslash-popup-docs {
  font-family: var(--vt-font-family-base) !important;
  font-size: 1em;
}

.twoslash-floating .twoslash-popup-docs-tag-name {
  color: var(--vt-c-text-2) !important;
}

.v-popper--theme-twoslash .v-popper__inner {
  background: #24292e;
  color: white;
  border-color: #8885;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: #8885;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border-color: #24292e;
}
