.demo {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}

.custom-block {
  padding: 0.1rem 1.5rem;
  margin: 2em 0;
  border-left-width: 0.5rem;
  border-left-style: solid;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin: 1rem 0;

  &::before {
    position: absolute;
    top: 19px;
    left: -14px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
  }

  p {
    color: #222;
  }

  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }

  &.info {
    border-color: #007bff;
    background-color: #f8f8f8;

    &::before {
      content: url('/images/icons/info.svg');
      width: 25px;
      height: 25px;
      left: -16px;
      box-sizing: border-box;
    }
  }

  &.tip {
    border-color: #42b983;
    background-color: #f8f8f8;

    &::before {
      content: url('/images/icons/bulb.svg');
      width: 25px;
      height: 25px;
      left: -16px;
    }
  }

  &.warning {
    border-color: #f4cd00;
    background-color: #f8f8f8;

    .custom-block-title {
      color: #222;
    }

    &::before {
      content: url('/images/icons/danger.svg');
      width: 25px;
      height: 25px;
      left: -16px;
      box-sizing: border-box;
    }
  }

  &.danger {
    border-color: #f66;
    background-color: #f8f8f8;

    .custom-block-title {
      color: #222;
    }

    &::before {
      content: url('/images/icons/stop.svg');
      width: 25px;
      height: 25px;
      left: -16px;
    }
  }

  &.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    background-color: #eee;
    h4 {
      margin-top: 0;
    }
    figure,
    p {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    summary {
      outline: none;
      cursor: pointer;
    }
  }
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  font-size: inherit;
  cursor: pointer!important;
  font-weight: bold;
  opacity: 1!important;
}

.badge {
  background-color: #b00000;
  font-size: 0.8rem;
  border: 2px solid #b00000;
  border-radius: 5px;
  margin-right: 0.5rem;
  color: #fff;
  padding: 0.25rem 0.25rem;
}

.dropdown-wrapper .nav-dropdown .dropdown-item h4 {
  margin-bottom: 0.3rem!important;
}
