<table v-if="filteredData.length">
  <thead>
    <tr>
      <th
        v-for="key in columns"
        @click="sortBy(key)"
        :class="{ active: sortKey == key }"
      >
        {{ capitalize(key) }}
        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="entry in filteredData">
      <td v-for="key in columns">{{entry[key]}}</td>
    </tr>
  </tbody>
</table>
<p v-else>No se encontraron coincidencias.</p>
