.container {
  position: relative;
  padding: 0;
}

.item {
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #666;
  box-sizing: border-box;
}

/* 1. declara la transición */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declarar el estado de entrada y de salida */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. asegurarse de que los elementos de salida son retirados
 * del flujo del diseño para que las animaciones en movimiento
 * puedan ser calculadas correctamente. */
.fade-leave-active {
  position: absolute;
}
