.demo {
  /* background-color: var(--vt-c-bg-soft); */
  transition: border-color 0.5s;
  padding: 22px 24px;
  border-radius: 8px;
  border: 1px solid var(--vt-c-divider-light);
}

.demo p {
  margin: 0;
}

.demo button {
  background-color: var(--vt-c-bg-mute);
  transition: background-color .5s;
  padding: 8px 16px;
  border: 1px solid var(--vt-c-divider);
  border-radius: 8px;
  font-weight: 600;
}

.demo button + button {
  margin-left: 1em;
}